@import "normalize.css";
@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family;
  color: $text-color;
  font-size: $font-sm;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font-family;
}

.container {
  /* stylelint-disable */
  @include container($container-padding);
  /* stylelint-enable */
}

.section-title {
  color: $primary-color;
  text-align: center;
}

.section-description {
  text-align: center;
  font-size: $font-sm;
  color: $grey-color;
  font-weight: 400;
  max-width: 600px;
  margin: auto;
  margin-bottom: 32px;
}

.hr {
  border: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  background: $medium-grey-color;
}

.button {
  background: linear-gradient(65deg, $primary-color 0, $secondary-color 100%);
  font-family: $secondary-font-family;
  color: #fff;
  display: inline-flex;
  font-size: $font-xxs;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none !important;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 8px 24px rgba(32, 43, 54, 0.12);
  transition: all 0.15s ease;

  &:hover {
    color: #fff;
    box-shadow: 0 8px 24px rgba(32, 43, 54, 0.25);
  }
}

a {
  color: $primary-color;
}

.producthunt {
  z-index: 600px;
}

.darkmode-layer,
.darkmode-toggle {
  z-index: 500;
}

.darkmode--activated {
  .icon,
  .logo,
  h1,
  h2,
  .button,
  .resource-item,
  .emoji {
    position: relative;
    z-index: 501;
    mix-blend-mode: difference;
  }

  h3 {
    color: #fff !important;
  }

  .resource-item {
    border-bottom: 0 !important;

    .icon {
      background-color: #222;
    }
  }

  .topbar {
    z-index: 600 !important;
    background-color: #111 !important;

    input {
      background-color: #111 !important;
      border-color: #333 !important;
    }

    .logo {
      mix-blend-mode: unset !important;
    }
  }

  .footer {
    a {
      mix-blend-mode: difference;
    }
  }

  .lunr-results {
    background: black;
    border-color: #333;
  }

  .lunr-result {
    &:hover {
      background: #222;
    }
  }
}

@media (max-width: 768px) {
  .producthunt {
    min-width: 100% !important;
  }
}
